#Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

#Virtual environments
venv/
env/
.venv/

#Jupyter
.jupyter/

#OS files
.DS_Store
Thumbs.db

#Environment variables/secrets
.env

#IDE
.vscode/
.idea/
